.delivery-step {
  background-color: #d7d7d794;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delivery-step:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.delivery-step img {
  max-height: 100px;
  object-fit: contain;
}
